@using WebMatrix.Data

@{
    var db = Database.Open("AuctionDB");

    var sql = "";

    var data db.QuerySingle(sql);

    ViewBag.Title = "Lot";  // you can modify this to include the dynamic lot no.
                            // This page should show the selected lot item
                            // DB Stuff here to show selected item in detail
}

<div class="jumbotron py-1 mt-2">
    <h2 class="text-center">Lot</h2>
</div>

@if (data != null)
{
    <div class="row justify-content-center">

        <div class="col-10 m-1">
            <div class="card">
                <img class="card-img-top" src="@data.itemImage" alt="@data.itemName image">
                <div class="card-body">
                    <h5 class="card-title">@data.lotNo</h5>
                    <p class="card-text">@data.lotTitle</p>
                    <p class="card-text">Range @data.minPrice - @data.maxPrice.ToString("C")</p>
                    <p class="card-text"> @data.lotDescription</p>



                    <form action="/Home/Details?lot=@lotNo" method="post">
                        <input type="submit" class="btn btn-success" value="See Reviews" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}